@model Details_ViewModel

<h2>@ViewBag.Title</h2>
<hr />

<div class="form-group">
    @Html.ActionLink("Add New Customer", "Record", "Customer",
        null, new { @class = "btn btn-primary" })
</div>

@*@if (Model.Customers.ToList().Count == 0)
{
    <div class="alert alert-warning text-muted text-center">
        <b>Note:&nbsp;</b>We don't have any customer(s) yet.
    </div>
}
else
{*@
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Action(s)</th>
            </tr>
        </thead>
        <tbody>
            @*@{
                foreach (var c in Model.Customers)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(c.Name, "Edit", "Customer",
                            new { Id = c.Id })
                        </td>
                        <td>@c.MembershipType.Name</td>
                        <td>
                            @Html.ActionLink("View", "Details", "Customer",
                                new { Id = c.Id },
                                new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Edit", "Edit", "Customer",
                                new { Id = c.Id },
                                new { @class = "btn btn-outline-success" })
                            <button class="btn btn-outline-danger js-delete"
                                data-customer-id="@c.Id">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            }*@
        </tbody>
    </table>
@*}*@

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable({
                ajax: {
                    url: "/API/Customer",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            var control_1 = "<a href='/Customer/Edit/" + customer.id + "'>" + customer.name + "</a>";
                            return control_1;
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            var control_1 = "<a class='btn btn-outline-primary' href='/Customer/Details/" + data + "'>View</a>&nbsp";
                            var control_2 = "<a class='btn btn-outline-success' href='/Customer/Edit/" + data + "'>Edit</a>&nbsp";
                            var control_3 = "<button class='btn btn-outline-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                            var all_controls = control_1 + control_2 + control_3;
                            return all_controls;
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/API/Customer/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });

        });
    </script>
}
