@model Details_ViewModel

<h2>@ViewBag.Title</h2>
<hr />

<div class="form-group">
    @Html.ActionLink("Add New Customer", "Record", "Customer",
        null, new { @class = "btn btn-primary" })
</div>

@if (Model.Customers.ToList().Count == 0)
{
    <div class="alert alert-warning text-muted text-center">
        <b>Note:&nbsp;</b>We don't have any customer(s) yet.
    </div>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Action(s)</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var c in Model.Customers)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(c.Name, "Edit", "Customer",
                            new { Id = c.Id })
                        </td>
                        <td>@c.MembershipType.Name</td>
                        <td>
                            @Html.ActionLink("View", "Details", "Customer",
                                new { Id = c.Id },
                                new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Edit", "Edit", "Customer",
                                new { Id = c.Id },
                                new { @class = "btn btn-outline-success" })
                            @*@Html.ActionLink("Delete", "Delete", "Customer",
                                new { Id = c.Id },
                                new { @class = "btn btn-outline-danger", @style = "visibility:hidden" })*@
                            <button class="btn btn-outline-danger js-delete"
                                data-customer-id="@c.Id">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#customers").DataTable();

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/API/customer/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });

        });
    </script>
}
