@model Details_ViewModel

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add New Movie", "Record", "Movie",
    null, new { @class = "btn btn-primary" })

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Movie</td>
            <td>Genre</td>
            <td>Action(s)</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model.Movies)
            {
                <tr>
                    <td>@Html.ActionLink(m.Name, "Edit", "Movie",
                            new { Id = m.Id })
                    </td>
                    <td>@m.Genre.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Record", "Movie",
                            new { Id = m.Id },
                            new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Delete", "Delete", "Movie",
                            new { Id = m.Id },
                            new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
