@model Details_ViewModel

<h2>List of Movies</h2>
<hr />

<div class="form-group">
    @Html.ActionLink("Add New Movie", "Record", "Movie",
        null, new { @class = "btn btn-primary" })
</div>

@*@if (Model.Movies.ToList().Count == 0)
{
    <div class="alert alert-warning text-muted text-center">
        <b>Note:&nbsp;</b>We don't have any movie(s) yet.
    </div>
}
else
{*@
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Action(s)</th>
            </tr>
        </thead>
        <tbody>
            @*@{
                foreach (var m in Model.Movies)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(m.Name, "Edit", "Movie",
                            new { Id = m.Id })
                        </td>
                        <td>@m.Genre.Name</td>
                        <td>
                            @Html.ActionLink("View", "Details", "Movie",
                                new { Id = m.Id },
                                new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Edit", "Edit", "Movie",
                                new { Id = m.Id },
                                new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "Delete", "Movie",
                                new { Id = m.Id },
                                new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }*@
        </tbody>
    </table>
@*}*@

@section Scripts 
{ 
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                    ajax: {
                        url: "API/Movie",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name",
                            render: function (data, type, movie) {
                                var control_1 = "<a href='/Movie/Edit/" + movie.id + "'>" + movie.name + "</a>";
                                return control_1;
                            }
                        },
                        {
                            data: "genre.name"
                        },
                        {
                            data: "id",
                            render: function (data) {
                                var control_1 = "<a class='btn btn-outline-primary' href='/Movie/Details/" + data + "'>View</a>&nbsp";
                                var control_2 = "<a class='btn btn-outline-success' href='/Movie/Edit/" + data + "'>Edit</a>&nbsp;";
                                var control_3 = "<button class='btn btn-outline-danger js-delete' data-movie-id=" + data + ">Delete</button>";
                                var all_controls = control_1 + control_2 + control_3;
                                return all_controls;
                            }
                        }
                    ]
                });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/API/Movie/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                                //table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            });
        });
    </script>
}
