@model Details_ViewModel

<h2>@ViewBag.Title</h2>
<hr />

<div class="form-group">
    @Html.ActionLink("Add New Movie", "Record", "Movie",
        null, new { @class = "btn btn-primary" })
</div>

@if (Model.Movies.ToList().Count == 0)
{
    <div class="alert alert-warning text-muted text-center">
        <b>Note:&nbsp;</b>We don't have any movie(s) yet.
    </div>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Movie</td>
                <td>Genre</td>
                <td>Action(s)</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var m in Model.Movies)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(m.Name, "Edit", "Movie",
                            new { Id = m.Id })
                        </td>
                        <td>@m.Genre.Name</td>
                        <td>
                            @Html.ActionLink("View", "Details", "Movie",
                                new { Id = m.Id },
                                new { @class = "btn btn-outline-primary" })
                            @Html.ActionLink("Edit", "Edit", "Movie",
                                new { Id = m.Id },
                                new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "Delete", "Movie",
                                new { Id = m.Id },
                                new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
